@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {

    overflow-x: hidden !important;
    background-color:#330D9A;
    height: 100vh;
    
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background: linear-gradient(0deg, rgba(42,11,125,1) 0%, rgba(69,0,252,1) 100%) !important; */
}
.box {

    height: 80vh;
    width: 100%;
    background-color: #2A0B7D;
    /* border:2px solid white; */
    margin-top: 10%;
    border-radius: 20px;
    box-shadow: 0px 2px 20px 2px rgba(0,0,0,0.5);
    display: block;
}
.box .score {
    
    height: 20%;
    /* background-color: tomato; */
    text-align: center;
    font-size: 2.1em;
    color:white;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
}
.box .score span {
  
  position: relative;
  height: 100%;
  width: 60%;
  background-color: #F4B912;
  box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.5);
  border-radius: 50%;
  top:-25%;
  padding-top: 6vh;
  display:none;
  font-weight:800;
}
.box .gameBody {

    height: 50vh;
    /* background-color: violet; */
}

.box .gameBody .data {

    width: 70%;
    height: 50vh;
    /* background-color: chartreuse; */
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-timing-function:ease-in-out;
    
}
.box .gameBody .data .headi {
    width: 100%;
    /* background-color: crimson; */
    height: 10vh;
    margin-top: 7%;
    font-size: 2.8rem;
    display: block;
    background-color: #2A0B7D;
    font-family: 'Andika New Basic', sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
    z-index: 999999999;
}
.box .gameBody .data .subheadi {

    width: 100%;
    /* background-color: coral; */
    margin-top: 5%;
    height: 7vh;
    font-size: 1.2rem;
    color: lightgray;
    font-family: 'Andika New Basic', sans-serif;
    text-align: center;
}


.box .gameBody .data .butn {
    
        text-decoration: none;
        color: white;
        width: 80%;
        height: 7vh;
        margin-top: 5%;
        background: rgb(43,10,126);
        background: linear-gradient(0deg, rgba(43,10,126,1) 0%, rgba(61,98,254,1) 100%);
        box-shadow: -10px 10px 20px 0px rgba(0,0,0,0.3);
        display: flex;
        justify-content: center;
        font-size: 1.8rem;
        border-radius: 5px;
        transition: all 0.2s;
        margin-left: 10%;
        cursor:pointer;
}
.butn:active {
    
    transform: translate(-2px , 2px) scale(0.95);
} 
.box .foot {

    height: 15vh;
    /* background-color: tan; */

}

input[type="text"] {

   
    height: 8vh;
    width: 60%;
    margin-left: 20%;
    background-color:#33089A;
    border: 5px solid #3C63FD;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: 'Andika New Basic', sans-serif;
    font-size: 1.7rem;
    margin-top: 7%;
    /* border: 5px solid #280B74; */
    /* box-shadow: -4px 20px 30px 0px rgba(0,0,0,0.3); */
}

input[type="text"]:focus {

    outline: none;
    border: 5px solid #3C63FD;
}
.bar {

    display: none;
    width: 80%;
    height: 5px;
    margin-top: 3%;
    margin-left: 12%;
    
}
.bar1  {
    
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #230966;
    margin: 0 !important;
    border-radius: 10px;

}
.bar2  {

    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #230966;
    margin-left: 0%;
    border-radius: 10px;

    
}
.sbar1 {
    width: 100%;
    height: 100%;
    background-color: #F4B912;
    border-radius: 10px;
   
}
.sbar2 {

    width: 100%;
    height: 100%;
    background-color: #F4B912;
    border-radius: 10px;
   
}

.counter {

    color:white;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Andika New Basic', sans-serif;
}

.blob {

  position: fixed;
  z-index: -1;
  right: -15%;
  top:-10%;
  width: 50%;
}

.blob2 {


  position: fixed;
  z-index: -1;
  left: -15%;
  bottom: -50%;
  width: 50%;
  
}


.result {

  
  height: 100%;
  width: 100%;
  /* background-color: #2A0B7D; */
  /* border:2px solid white; */
  margin-top: 5vh;
  margin-bottom: 5vh;
  /* border-radius: 20px; */
  box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  flex-direction: column;

}

.result .score {
  display: block;
  /* border:1px solid white; */
  margin-top: 10%;
  width: 40%;
  height: 10vh;
  text-align: center;
  color: white;
  font-size: 2.3em;
}

.result .data {

  display: block;
  /* border:1px solid white; */
  margin-top: 5%;
  width: 80%;
  height: 50vh;
  text-align: center;
  color: white;
  font-size: 1.8rem;
  font-family: 'Luckiest Guy', cursive !important;
  font-weight: 900;
}
.result .data .emoji {

  /* border:1px solid white; */
  text-align: center;
  font-size: 4rem;
}
.result .data .context {

  font-size: 1.2rem;
  font-weight: 400;
}

.result .butn {

  margin-top: -4% !important;
  height: 8%;
  width: 30%;
  border-radius: 3px;
  background-color: #1AC88E;
  text-align: center;
  color:white;
  font-size:1.6rem;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.3);
  cursor: pointer;
}



@media only screen and (max-width: 600px) {

  input[type="text"] {

    width: 100%;
    margin: 0;
    margin-top: 10vh;
  }

  .box {

    margin-top: 15%;
  }
  .box .score {

    height: 25%;
  }

  .blob {

    top:-10%;
    right:-30%;
    width: 90%;
  }
  .blob2 {

    left:-20%;
    bottom:-10%;
    width: 80%;
  }
  .result .butn { width: 60%; }
}



@keyframes bar2 {

    from {

        width: 100%;
        background-color:limegreen;
    }
    to {

        width: 0%;
        background-color: red;
    }
}
@keyframes bar1 {

    from {
        transform: translateX(0px);
        width: 100%;
        background-color: #F4B912;
    }
    to {
        transform: translateX(200px);
        width: 0%;
        background-color: red;
    }
}








@keyframes drag {

    from {
        transform: translateY(+100px) ;
        font-size: 1.2em;
        color: lightgray;
        opacity: 1;
    }
    to {
        transform: translateY(0px);
        font-size: 2.8em;
        color: white;
        opacity: 1;
    }
}
@keyframes fadeOut {

    from {
        transform: translateY(0px) scale(1) ;
        opacity: 1;
    }
    to {
        transform: translateY(-50px) scale(0.7);
        opacity: 0;
    }
}
@keyframes fadeIn {

    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes reset {

    from {

    }
    to {

    }
}
@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  
  @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }

  @-webkit-keyframes wobble-ver-left {
    0%,
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateY(-30px) rotate(-6deg);
              transform: translateY(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateY(15px) rotate(6deg);
              transform: translateY(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateY(-15px) rotate(-3.6deg);
              transform: translateY(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateY(9px) rotate(2.4deg);
              transform: translateY(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateY(-6px) rotate(-1.2deg);
              transform: translateY(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-ver-left {
    0%,
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateY(-30px) rotate(-6deg);
              transform: translateY(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateY(15px) rotate(6deg);
              transform: translateY(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateY(-15px) rotate(-3.6deg);
              transform: translateY(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateY(9px) rotate(2.4deg);
              transform: translateY(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateY(-6px) rotate(-1.2deg);
              transform: translateY(-6px) rotate(-1.2deg);
    }
  }
  @-webkit-keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @-webkit-keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }

  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.8);
              transform: scale(1.8);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  /* ----------------------------------------------
 * Generated by Animista on 2020-12-22 11:5:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-22 11:8:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
